body {
  height: 100000px;
  font-family: Aleo;
  margin: 0;
}
nav {
  font-family: Aleo;
  background-color: #EAF2FF;
}
.jumbotron h1 {
  font-family: Aleo;
  font-size: 60px;
}

.jumbotron {
  margin-top: 5%;
}

.image1 {
  width: 272px;
  margin-bottom: 30px;
}

.frame-1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10%;
}

.frame-2 {
  margin-right: 30px;
}
.frame-3 {
  margin: 62px 0;
}

.get {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: #195fba;
  border-radius: 200px;
}

.bg {
  background-color: #eaf2ff;
  font-family: Poppins;
}

.bg p {
  margin: 50px 15% 0 15%;
  font-size: 150%;
}

h1 span {
  color: #195fba;
}

.work h1 {
  font-family: Aleo;
}

.work {
  margin-top: 50px;
}
.container-1,
.container-2,
.container-3,
.container-4 {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
}

.feature {
  margin-top: 90px;
}
.img-1 {
  margin-top: -200px;
}
.img-3 {
  margin-left: -150px;
  margin-top: 300px;
  width: 300px;
}
.work {
  background: linear-gradient(to bottom, #ffffff, #a1afe1, #ffffff);
  padding: 30px;
}
